<ul ngbNav #nav="ngbNav" class="nav-tabs">

  <!-- Items -->
  <li ngbNavItem>
    <a ngbNavLink>Items</a>
    <ng-template ngbNavContent>
      <iinv-items></iinv-items>
    </ng-template>
  </li>

  <!-- My Profile -->
  <li ngbNavItem>
    <a ngbNavLink>My Profile</a>
    <ng-template ngbNavContent>
      <iinv-profile [isLoggedIn]="isLoggedIn"></iinv-profile>
    </ng-template>
  </li>

  <!-- Auth buttons -->
  <li ngbNavItem class="ms-auto">
    <button *ngIf="!isLoggedIn" (click)="login()" class="btn btn-primary">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-primary">Logout</button>
  </li>

</ul>
<div [ngbNavOutlet]="nav"></div>