<ng-container *ngIf="userProfile">

    <!-- User's profile -->
    <h2>User Profile</h2>
    <table>
        <tr *ngIf="userProfile.username">
            <th scope="row">Username</th>
            <td>{{ userProfile.username }}</td>
        </tr>
        <tr *ngIf="userProfile.firstName">
            <th scope="row">First name</th>
            <td>{{ userProfile.firstName }}</td>
        </tr>
        <tr *ngIf="userProfile.lastName">
            <th scope="row">Last name</th>
            <td>{{ userProfile.lastName }}</td>
        </tr>
    </table>

    <!-- User's items -->
    <h2>User Items</h2>
    User items should be here !

</ng-container>
<h5 *ngIf="!isLoggedIn" class="text-center">You aren't logged in yet! Please authenticate in order to see your items.</h5>